@use "../styles/upBox.scss" as *;

// Base styles
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-sans;

    p {
        line-height: 25px;
    }
}

nav {
    position: sticky;
    top: 0%;
    z-index: 10;
}

button:hover {
    cursor: pointer;
}

// Navbar
.navbar {
    @include navbar();
}

// Pop up
.pop-up {
    letter-spacing: 1px;
    height: fit-content;

    p {
        margin: 0;
    }

    label {
        font-size: 12px;
        font-family: $font-sans;
        margin: 5px 0;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/images/bg.svg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        object-fit: cover;
        height: 150%;
    }

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-top: 50px;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        width: 1100px;
        height: fit-content;
    }

    img {
        margin: 60px 20px 10px 20px;

        &__formImg2 {
            display: none;
        }
    }

    &__left-side {
        display: grid;
        justify-items: center;
        order: 2;
    }

    &__right-side {
        display: grid;
        align-items: center;
        margin: 40px 20px;

        h1 {
            font-size: 46px;
            font-family: $font-text;
            margin: 0;
            padding: 0;
        }
    }

    &__firstForm {
        margin-bottom: 40px;
    }

    &__formImg2 {
        display: none;
    }

    &__input-field,
    &__text-field {
        display: grid;
        justify-items: start;
        margin: 10px 0;
    }

    &__input-email,
    &__input-password,
    &__input-first-name,
    &__input-last-name,
    &__input-text,
    &__input-age,
    &__input-birth-date,
    &__input-phone,
    &__input-id-number {
        border: 3px solid #e7e7e7;
        border-radius: 5px;
        width: 419px;
        background-color: #f3f3f3;
        display: flex;
        justify-content: start;
        overflow: auto;
        font-size: 14px;
    }

    &__input-email,
    &__input-password,
    &__input-first-name,
    &__input-last-name,
    &__input-age,
    &__input-birth-date,
    &__input-phone,
    &__input-id-number {
        height: 40px;
        padding-left: 10px;
    }

    &__input-text {
        width: 500px;
        height: 134px;
        resize: none;
        font-weight: 500;
        font-family: $font-sans;
        padding: 10px;
    }

    &__checkbox-field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
            display: flex;
            align-items: center;
        }
    }

    &__checkbox {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 2px solid gray;
        border-radius: 5px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fd7688;
        display: inline-block;
        position: relative;
        font-size: 15px;
        transition:
            background-color 0.3s ease,
            border-color 0.3s ease;

        &:checked {
            border-color: #fd7688;

            &::after {
                content: "✓";
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 10px;
            }
        }
    }

    &__validations,
    &__confirmations {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: normal;
    }

    &__validations {
        color: #ff0340;
    }

    &__confirmation {
        display: none;
    }

    &__confirmation.submitted {
        display: block;
    }

    button {
        @include pinkButton();
        position: relative;
        font-size: 12px;
        border-radius: 10px;
        margin-top: 10px;
        padding: 10px 50px;
    }

    button::after {
        content: "Submit"; /* Buton içine eklenecek yazı */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Yazıyı ortalama */
        color: white;
        z-index: 1;
    }

    button.submitted {
        border-color: #ff0340;
        background-color: white;

        &::after {
            content: "Sent!"; /* Buton içine eklenecek yazı */
            color: #ff0340;
        }
    }

    @media only screen and (max-width: 1200px) and (min-width: 900px) {
        &__center {
            transform: scale(0.8);
        }

        &__left-side {
            margin: 0 20px 30px 20px;
        }
    }

    @media only screen and (max-width: 900px) and (min-width: 770px) {
        height: fit-content;

        &__container {
            height: fit-content;
        }

        &__center {
            margin: 40px 15px;
            width: 734px;
            height: fit-content;
            align-items: center;
        }

        &__left-side {
            align-items: center;
            width: 368px;
            height: fit-content;
            margin: 30px 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 20px;
            }
        }

        &__right-side {
            margin: 30px 20px;

            h1 {
                font-size: 42px;
            }
        }

        &__firstForm {
            margin-top: 20px;
        }

        &__formImg1 {
            display: block;
        }

        &__formImg2 {
            display: none;
        }

        &__input-field,
        &__text-field {
            margin: 5px 0;
        }

        &__input-email,
        &__input-password,
        &__input-first-name,
        &__input-last-name,
        &__input-age,
        &__input-birth-date,
        &__input-phone,
        &__input-id-number {
            width: 257px;
        }

        &__input-text {
            width: 345px;
            height: 134px;
        }

        button {
            padding: 7.5px 40px;
        }
    }

    // Tablet
    @media only screen and (max-width: 770px) and (min-width: 600px) {
        height: fit-content;

        img {
            transform: scale(0.9);
            margin: 0px 10px;
        }

        &__center {
            display: grid;
            justify-content: center;
            align-items: center;
            justify-items: center;
            width: 580px;
            height: fit-content;
            margin: 30px 0;
        }

        &__left-side {
            margin: 20px;
            margin-top: 0;
        }

        &__right-side {
            margin-bottom: 0;

            h1 {
                font-size: 42px;
            }
        }

        &__secondForm {
            display: grid;
            justify-items: center;
        }

        &__formImg1 {
            display: none;
        }

        &__formImg2 {
            display: block;
            transform: scale(0.9);
            margin: 0px 10px;
        }

        &__input-field,
        &__text-field {
            margin: 5px 0;
        }

        &__input-text {
            height: 134px;
            width: 419px;
        }

        button {
            padding: 7.5px 40px;
        }
    }

    @media only screen and (max-width: 600px) and (min-width: 500px) {
        height: fit-content;

        img {
            margin: 0px;
        }

        &__center {
            display: grid;
            justify-content: center;
            align-items: center;
            justify-items: center;
            height: fit-content;
            transform: scale(0.85);
            margin: 15px 0;
        }

        &__left-side {
            margin: 20px;
            margin-top: 0;

            textarea {
                width: 410px;
            }
        }

        &__secondForm {
            display: grid;
            justify-items: center;
        }

        &__right-side {
            justify-content: center;
            margin-bottom: 0;
        }

        &__formImg1 {
            display: none;
        }

        &__formImg2 {
            display: block;
        }
    }

    // Mobile
    @media only screen and (max-width: 500px) {
        display: flex;
        justify-content: center;

        img {
            margin: 0 0 20px 0;
        }

        &__container {
            align-items: flex-start;
            height: fit-content;
        }

        &__center {
            display: grid;
            justify-content: center;
            align-items: start;
            justify-items: center;
            margin-top: 75px;
            width: 341px;
            height: 100%;
        }

        &__bg {
            height: 704px !important;
        }

        &__left-side {
            margin: 20px;
            margin-top: 0;
        }

        &__secondForm {
            display: grid;
            justify-items: center;
        }

        &__right-side {
            margin-bottom: 0;

            h1 {
                font-size: 42px;
            }
        }

        &__formImg1 {
            display: none;
        }

        &__formImg2 {
            display: block;
            width: 266px;
            height: 158px;
            object-fit: cover;
        }

        &__input-field,
        &__text-field2,
        &__checkbox-field {
            margin-bottom: 5px;
        }

        &__input-email,
        &__input-password,
        &__input-first-name,
        &__input-last-name,
        &__input-age,
        &__input-birth-date,
        &__input-phone,
        &__input-id-number,
        &__input-text {
            width: 265px;
        }

        button {
            padding: 7.5px 35px;
        }
    }
}

// Footer
.footer {
    @include footer();
    margin: 25px;
}
