// Variables
$font-sans: "DM Sans", sans-serif;
$font-text: "DM Serif Text", serif;
$font-display: "DM Serif Display", serif;
$primary-color: #ef8094;
$border-color: rgba(196, 196, 196, 0.3);

// Mixins
@mixin whiteButton {
    font-size: 16px;
    font-family: $font-sans;
    font-weight: 700;
    margin-top: 20px;
    padding: 15px 40px;
    background-color: white;
    border: 4px solid $primary-color;
    border-radius: 40px;
    letter-spacing: 1px;
}

@mixin pinkButton {
    font-size: 16px;
    font-family: $font-sans;
    font-weight: 400;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: $primary-color;
    border: 4px solid $primary-color;
    color: white;
    border-radius: 40px;
    letter-spacing: 1px;
}

@mixin navButton {
    font-family: $font-sans;
    font-size: 14px;
    letter-spacing: 2px;
    width: 150px;
    margin-left: 60px;
    font-weight: 400;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 100px;
}

@mixin navbar() {
    display: grid;
    background-color: white;
    position: sticky;
    overflow: hidden;

    &__topbar {
        width: 100%;
        height: auto;
    }

    &__group {
        display: flex;
        justify-content: space-between;
        margin: 0 120px;
    }

    &__logoGroup {
        display: flex;
        align-items: center;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    &__logo {
        width: 56px;
        height: 56px;
    }

    &__title {
        margin-left: 15px;
        font-family: $font-sans;
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 8px;
    }

    &__right-side {
        display: flex;
        align-items: center;

        h3 {
            font-family: $font-sans;
            font-size: 14px;
            letter-spacing: 2px;
            margin-left: 60px;
            font-weight: 400;

            &:hover {
                cursor: pointer;
            }
        }

        button {
            @include navButton();
        }
    }

    &__menu-container {
        display: flex;
        align-items: center;
    }

    &__menu-button {
        display: none;
    }

    &__menu {
        display: none;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            max-height 0.5s ease-in-out,
            opacity 0.5s ease-in-out;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            padding: 10px 5px;
            background-color: white;
            //border-bottom: 1px solid $border-color;

            &:hover {
                font-style: italic;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        button {
            @include navButton();
            margin: 20px 0;
            margin-left: 0;
        }
    }

    &__menu.open {
        max-height: 500px;
        opacity: 1;
    }

    @media only screen and (max-width: 1251px) and (min-width: 901px) {
        &__group {
            margin: 0px 30px;
        }

        &__logoGroup {
            transform: scale(0.95);
        }

        &__right-side {
            transform: scale(0.85);
            margin-left: 10px;

            h3,
            button {
                font-size: 14px;
                margin-left: 40px;
            }
        }
    }

    @media only screen and (max-width: 901px) and (min-width: 801px) {
        &__topbar {
            width: 100%;
            height: 10px;
            object-fit: cover;
        }

        &__group {
            margin: 20px;
        }

        &__logo {
            width: 37px;
            height: 37px;
        }

        &__title {
            margin-left: 5px;
            font-size: 18px;
            letter-spacing: 5px;
        }

        &__right-side {
            h3,
            button {
                margin-left: 40px;
                font-weight: 700;
                font-size: 10px;
            }
            h3 {
                letter-spacing: 1.5px;
            }

            button {
                letter-spacing: 1px;
            }
        }
    }

    @media only screen and (max-width: 801px) {
        &__topbar {
            width: 100%;
            height: 5px;
            object-fit: cover;
        }

        &__group {
            display: grid;
            margin: 0 20px;
            align-items: center;
        }

        &__right-side {
            display: none;
        }

        &__menu-button {
            display: block;
            position: absolute;
            top: 30px;
            right: 30px;

            svg {
                width: 50px;
                height: 35px;
            }
        }

        &__menu {
            display: block;
        }
    }
}

@mixin footer() {
    display: grid;
    margin: 50px;
    border: 3px solid $border-color;
    border-radius: 5px;
    font-family: $font-sans;
    letter-spacing: 1px;

    a {
        color: black;
        text-decoration: none;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
    }

    &__logoGroup {
        display: flex;
        align-items: center;

        h5 {
            font-size: 14px;
            letter-spacing: 4px;
            margin-left: 5px;
        }
    }

    &__logo {
        width: 38px;
        height: 38px;
    }

    &__social {
        display: flex;

        a {
            margin-left: 40px;

            svg {
                width: 36px;
                height: 36px;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 25px;
    }

    &__link {
        display: grid;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        padding-right: 125px;
        margin-bottom: 10px;

        h4 {
            font-size: 20px;
            margin: 10px 0;
        }

        a {
            line-height: 25px;
        }
    }

    &__end {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
        border-top: 3px solid $border-color;
        border-radius: 5px;
        padding: 10px 50px;

        p,
        a {
            padding-right: 50px;
            letter-spacing: 2px;
        }
    }

    @media only screen and (max-width: 1201px) and (min-width: 901px) {
        &__top {
            transform: scale(0.9);
        }

        &__links {
            transform: scale(0.9);
            align-items: flex-start;
        }

        &__link {
            padding-right: 75px;
        }

        &__end {
            transform: scale(0.9);
        }
    }

    @media only screen and (max-width: 901px) and (min-width: 771px) {
        margin: 40px;
        width: fit-content;

        &__social {
            margin-right: 30px;

            a {
                margin-left: 25px;
            }
        }

        &__links {
            display: grid;
            align-items: start;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
        }

        &__link {
            align-items: start;
            justify-items: start;
            letter-spacing: 1.2px;
            padding-left: 50px;
        }

        &__end {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;

            p {
                margin-top: 20px;
            }
        }

        &__a {
            display: flex;
            padding-right: 50px;
            margin-top: 20px;
        }
    }

    @media only screen and (max-width: 771px) and (min-width: 601px) {
        margin: 40px;

        &__social {
            margin-right: 30px;

            a {
                margin-left: 25px;
            }
        }

        &__links {
            display: grid;
            align-items: start;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
        }

        &__link {
            align-items: start;
            justify-items: start;
            letter-spacing: 1.2px;
            padding-left: 50px;
        }

        &__end {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;

            p {
                margin-top: 20px;
            }
        }

        &__a {
            display: flex;
            padding-right: 50px;
            margin-top: 20px;
        }
    }

    @media only screen and (max-width: 601px) and (min-width: 501px) {
        margin: 10px;

        &__social {
            margin-right: 30px;

            a {
                margin-left: 25px;
            }
        }

        &__links {
            display: grid;
            align-items: start;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
        }

        &__link {
            align-items: start;
            justify-items: start;
            letter-spacing: 1.2px;
            padding-left: 50px;

            h4 {
                font-size: 16px;
            }

            a {
                line-height: 15px;
            }
        }

        &__end {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;

            p {
                margin-top: 20px;
            }
        }

        &__a {
            display: flex;
            padding-right: 50px;
            margin-top: 20px;
        }
    }

    @media only screen and (max-width: 501px) {
        margin: 15px;
        margin-top: 110px;

        &__social {
            display: none;
        }

        &__links {
            display: grid;
            align-items: start;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin: 0;
        }

        &__link {
            font-size: 12px;
            padding-right: 0px;
            padding-left: 30px;
            margin-bottom: 25px;

            h4 {
                font-size: 16px;
            }

            a {
                line-height: 15px;
            }
        }

        &__end {
            flex-direction: column-reverse;
            align-items: flex-start;
            padding: 10px 30px;

            p {
                padding: 5px;
                letter-spacing: 2px;
                font-size: 11px;
                line-height: normal;
                font-weight: 500;
            }
        }

        &__a {
            display: flex;
            flex-direction: column;

            a {
                margin-top: 10px;
            }
        }
    }
}

// Navbar
.navbar {
    @include navbar();
}

// Hero section
.hero {
    background-color: #f5f8ff;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 40px;

    &__left {
        width: 480px;
        margin-left: 150px;
        margin-bottom: 100px;

        h1 {
            font-size: 48px;
            font-family: $font-display;
            font-weight: bold;
        }

        p {
            font-size: 18px;
            font-family: $font-sans;
            font-weight: 400;
            letter-spacing: 1px;
        }

        button {
            @include whiteButton;
        }
    }

    @media only screen and (max-width: 1301px) and (min-width: 901px) {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        justify-content: center;

        &__left {
            width: 350px;
            margin: 50px 10px;

            h1 {
                font-size: 36px;
            }

            p {
                font-size: 16px;
            }

            button {
                font-size: 12px;
            }
        }

        img {
            width: 550px;
            height: auto;
            object-fit: cover;
        }
    }

    @media only screen and (max-width: 901px) and (min-width: 771px) {
        padding-top: 0px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            margin-left: 150px;
            background-image: url("/images/box.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
        }

        &__left {
            width: 380px;
            margin: 0 50px 0 10px;
            padding-bottom: 200px;
            position: relative;
            z-index: 1;
            top: 0;
            left: 0;
        }

        h1 {
            font-size: 42px;
        }

        p {
            font-size: 14px;
        }

        button {
            font-size: 14px;
        }

        &__box {
            img {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 771px) and (min-width: 601px) {
        padding-top: 0px;
        position: relative;
        z-index: 2;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            margin-left: 150px;
            background-image: url("/images/box.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
        }

        &__left {
            width: 380px;
            margin: 0 50px 0 10px;
            padding-bottom: 200px;
            position: relative;
            z-index: 1;
            top: 0;
            left: 0;
        }

        h1 {
            font-size: 42px;
        }

        p {
            font-size: 14px;
        }

        button {
            font-size: 14px;
        }

        &__box {
            img {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 601px) {
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        &__left {
            width: 100%;
            margin: 0;

            h1,
            p {
                margin: 0;
                padding: 15px 40px;
            }

            button {
                margin-left: 40px;
            }
        }

        &__box {
            overflow: hidden;

            img {
                height: 350px;
                width: auto;
                margin-top: 50px;
            }
        }
    }
}

// Section 2
.sec2 {
    &__header {
        display: grid;
        justify-items: center;
        margin-top: 80px;
    }

    &__title {
        font-family: $font-text;
        font-size: 48px;
        font-weight: 900;
        margin: 0%;
    }

    &__plans {
        display: flex;
        justify-content: space-around;
        margin: 50px;
        margin-bottom: 5px;
    }

    &__plan1,
    &__plan2 {
        margin: 40px;
        margin-bottom: 0;
    }

    @mixin planStyles($bg-img) {
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 60px 150px;
        border: 4px solid $border-color;
        border-radius: 5px;
        background-image: $bg-img;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        h3 {
            font-size: 36px;
            font-family: $font-text;
            font-weight: 900;
            margin: 0 0 10px 0;
        }

        p {
            font-size: 44px;
            font-family: $font-sans;
            font-weight: 400;
            letter-spacing: 7.5px;
            margin: 10px;
        }

        button {
            @include pinkButton;
        }
    }

    &__plan1 {
        @include planStyles(url("/images/left.svg"));
    }

    &__plan2 {
        @include planStyles(url("/images/right.svg"));
    }

    &__planInfo {
        font-family: $font-sans;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: center;
    }

    @media only screen and (max-width: 1201px) and (min-width: 901px) {
        &__title {
            font-size: 36px;
        }

        &__plans {
            margin: 20px;
        }

        &__plan1,
        &__plan2 {
            padding: 30px 80px;
            margin: 30px;
            margin-bottom: 0;

            h3 {
                font-size: 36px;
            }

            p {
                font-size: 28px;
            }
        }

        &__planInfo {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 901px) and (min-width: 771px) {
        &__header {
            display: grid;
            justify-items: center;
            margin: 20px 0;
        }

        &__title {
            font-size: 42px;
        }

        &__plans {
            margin: 30px;
        }

        &__plan1,
        &__plan2 {
            margin: 30px 20px 0 2px;
        }

        @mixin planStyles($bg-img) {
            padding: 30px 80px;

            h3 {
                font-size: 20px;
                margin: 0 0 5px 0;
            }

            p {
                font-size: 24px;
                margin: 0px;
            }

            button {
                margin-top: 10px;
                font-size: 8px;
            }
        }

        &__plan1 {
            @include planStyles(url("/left.svg"));
        }

        &__plan2 {
            @include planStyles(url("/right.svg"));
        }

        &__planInfo {
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 771px) and (min-width: 601px) {
        &__header {
            display: grid;
            justify-items: center;
            margin: 20px 0;
        }

        &__title {
            font-size: 42px;
        }

        &__plan1,
        &__plan2 {
            margin: 30px 5px 0 5px;
        }

        @mixin planStyles($bg-img) {
            padding: 20px 50px;

            h3 {
                font-size: 20px;
                margin: 0 0 5px 0;
            }

            p {
                font-size: 24px;
                margin: 0px;
            }

            button {
                margin-top: 10px;
                font-size: 10px;
                transform: scale(0.8)
            }
        }

        &__plan1 {
            @include planStyles(url("/left.svg"));
        }

        &__plan2 {
            @include planStyles(url("/right.svg"));
        }

        &__planInfo {
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 601px) {
        margin: 0 10px;

        &__plans {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
        }

        &__plan1,
        &__plan2 {
            padding: 18px 30px;
            margin-bottom: 20px;
            width: 100%;

            h3,
            p {
                font-size: 30px;
            }

            button {
                font-size: 14px;
            }
        }

        &__planInfo {
            font-size: 14px;
            margin-top: 0;
            text-align: start;
        }
    }
}

// Section 3
.sec3 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 100px 250px;

    &__header {
        display: grid;
        justify-items: center;
        margin-bottom: 40px;
    }

    &__title {
        font-family: $font-text;
        font-size: 48px;
        font-weight: 900;
        margin: 0;
    }

    @mixin textStyles($width, $margin) {
        display: grid;
        align-content: center;
        width: $width;

        h3 {
            font-size: 36px;
            font-family: $font-text;
            font-weight: 900;
            margin: 0 $margin;
        }

        p {
            font-size: 18px;
            font-family: $font-sans;
            font-weight: 400;
            letter-spacing: 1px;
            margin-left: $margin;
        }
    }

    &__work1 {
        display: flex;

        .sec3__text1 {
            @include textStyles(430px, 50px);
        }
    }

    &__work2 {
        display: grid;
        justify-content: end;
        justify-items: end;

        .sec3__text2 {
            @include textStyles(470px, 30px);
        }

        .sec3__2-mobile {
            display: none;
        }
    }

    &__work3 {
        display: flex;

        .sec3__text3 {
            @include textStyles(500px, 10px);
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        margin: 100px;

        button {
            @include whiteButton;
        }
    }

    @media only screen and (max-width: 1201px) and (min-width: 901px) {
        margin: 70px 30px;

        &__title {
            font-size: 36px;
        }

        img {
            transform: scale(0.8);
        }
    }

    @media only screen and (max-width: 901px) and (min-width: 771px) {
        margin: 100px 60px;

        &__header {
            margin-bottom: 20px;
        }

        &__title {
            font-size: 42px;
        }

        @mixin textStyles($width, $margin) {
            width: $width;

            h3 {
                font-size: 32px;
                margin: 0 $margin;
            }

            p {
                font-size: 14px;
            }
        }

        &__work1,
        &__work3 {
            img {
                width: 260px;
                height: auto;
                object-fit: fill;
            }
        }

        &__work2 {
            margin-bottom: 50px;

            img {
                width: 400px;
                height: auto;
                object-fit: fill;
            }
            .sec3__text2 {
                @include textStyles(370px, 50px);

                h3 {
                    width: 200px;
                }
            }
        }
    }

    @media only screen and (max-width: 771px) and (min-width: 601px) {
        margin: 100px 10px;
        display: grid;
        justify-content: center;
        overflow: hidden;

        &__header {
            margin-bottom: 20px;
        }

        &__title {
            font-size: 42px;
        }

        &__work1,
        &__work2,
        &__work3 {
            transform: scale(0.8);
        }

        &__work1,
        &__work3 {
            img {
                width: 260px;
                height: auto;
                object-fit: fill;
            }

            p {
                width: 350px;
            }
        }

        &__work2 {
            margin-bottom: 30px;

            img {
                width: 400px;
                height: auto;
                object-fit: fill;
            }

            h3 {
                width: 200px;
            }
        }
    }

    @media only screen and (max-width: 601px) {
        margin: 100px 0px;
        overflow: hidden;

        &__work1,
        &__work3 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 75px;
        }

        &__work1 {
            img {
                width: 130%;
                margin-bottom: 20px;
                padding-right: 25px;
            }

            .sec3__img {
                display: flex;
                justify-content: flex-end;
            }
        }

        &__work2 {
            margin: 0%;
            margin-top: 75px;
            justify-items: center;

            .sec3__2 {
                display: none;
            }

            .sec3__2-mobile {
                display: flex;
                margin-bottom: 20px;
            }
        }

        &__work3 {
            h3 {
                width: 150px;
            }

            img {
                width: 120%;
            }

            .sec3__img {
                display: flex;
                justify-content: flex-start;
                padding-left: 25px;
            }
        }

        .sec3__text1,
        .sec3__text2,
        .sec3__text3 {
            @include textStyles(280px, 0px);
        }

        &__button {
            margin: 20px 0;
        }
    }
}

// Section 4
.sec4 {
    background-color: #f5f8ff;
    position: relative;

    &__title {
        font-family: $font-text;
        font-size: 48px;
        padding-top: 100px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__img-blocks {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        z-index: 1;

        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
        }

        &::before {
            bottom: 375px;
            left: 275px;
        }

        &::after {
            top: 0;
            left: 825px;
        }
    }

    &__img-block {
        display: grid;
        width: 312px;
        height: 431px;

        p {
            font-size: 26px;
            font-family: $font-sans;
            letter-spacing: 1px;
        }
    }

    &__squig1 {
        position: relative;
        bottom: 375px;
        left: 275px;
    }

    &__squig2 {
        position: relative;
        left: 825px;
    }

    &__button {
        display: grid;
        justify-content: center;
        padding-bottom: 120px;

        button {
            @include pinkButton;
            margin: 0;
        }
    }

    @media only screen and (max-width: 1251px) and (min-width: 901px) {
        &__img-blocks {
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 120px;
        }

        &__img-block {
            p {
                font-size: 24px;
            }

            img {
                transform: scale(1.1);
            }
        }

        &__squig2 {
            left: 400px;
        }
    }

    @media only screen and (max-width: 901px) and (min-width: 771px) {
        &__title {
            padding-top: 80px;
            margin-bottom: 40px;
        }

        &__img-blocks {
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 120px;
            z-index: 0;
        }

        &__img-block {
            p {
                font-size: 20px;
            }
        }

        &__squig1,
        &__squig2 {
            display: none;
        }

        &__button {
            display: grid;
            justify-content: center;
            margin-top: 120px;
            margin-bottom: 0px;

            button {
                margin: 0;
            }
        }
    }

    @media only screen and (max-width: 771px) and (min-width: 601px) {
        &__title {
            padding-top: 80px;
            margin-bottom: 40px;
        }

        &__img-blocks {
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 80px;
            z-index: 0;
        }

        &__img-block {
            img {
                transform: scale(0.85);
            }

            p {
                font-size: 20px;
            }
        }

        &__squig1,
        &__squig2 {
            display: none;
        }

        &__button {
            display: grid;
            justify-content: center;
            margin-top: 120px;
            margin-bottom: 0px;

            button {
                margin: 0;
            }
        }
    }

    @media only screen and (max-width: 601px) {
        &__img-blocks {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__squig1,
        &__squig2 {
            display: none;
        }

        &__img-block {
            margin-bottom: 150px;

            p {
                font-size: 22px;
            }
        }
    }
}

// Footer
.footer {
    @include footer();

    @media only screen and (max-width: 769px) and (min-width: 451px) {
        margin-top: 40px;
    }

    @media only screen and (max-width: 451px) {
        margin: 15px;
    }
}
