@use '../styles/upBox.scss' as *;
//@use '../styles/contact.scss' as *;

// Base styles
* {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-sans;

    p {
        line-height: 2.5rem;
    }
}

nav {
    position: sticky;
    top: 0%;
    z-index: 10;
}

button:hover {
    cursor: pointer;
}
