html {
    font-size: 10px;
}

@mixin whiteButton() {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    margin-top: 2rem;
    padding: 1.5rem 4rem;
    background-color: white;
    border: 0.4rem solid #ef8094;
    border-radius: 4rem;
    letter-spacing: 0.1rem;
}

.navbar {
    display: grid;
    background-color: white;
    position: sticky;

    &__topbar {
        width: 100%;
        height: auto;
    }
    &__group {
        display: flex;
        justify-content: space-between;
        margin: 0 12rem;
    }
    &__logoGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
    &__logo {
        width: 5.6rem;
        height: 5.6rem;
    }
    &__title {
        margin-left: 1.5rem;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 2.8rem;
        letter-spacing: 0.8rem;
    }
    &__right-side {
        display: flex;
        align-items: center;

        @mixin font() {
            font-family: "DM Sans", sans-serif;
            font-size: 1.4rem;
            letter-spacing: 0.2rem;
            margin-left: 6rem;
        }
        h3 {
            @include font();
            font-weight: 400;

            &:hover {
                cursor: pointer;
            }
        }
        button {
            @include font();
            font-weight: 400;
            background-color: white;
            padding: 1rem 3rem;
            border: 0.2rem solid black;
            border-radius: 10rem;
        }
    }
}

.hero {
    background-color: #f5f8ff;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;

    &__left {
        width: 48rem;
        margin-left: 15rem;

        h1 {
            font-size: 4.8rem;
            font-family: "DM Serif Display", serif;
            font-weight: bold;
        }
        p {
            font-size: 1.8rem;
            font-family: "DM Sans", sans-serif;
            font-weight: 400;
            letter-spacing: 0.1rem;
        }
        button {
            @include whiteButton();
        }
    }
}

@mixin pinkButton() {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    background-color: #ef8094;
    border: 0.4rem solid #ef8094;
    color: white;
    border-radius: 4rem;
    letter-spacing: 0.1rem;
}

.sec2 {
    &__header {
        display: grid;
        justify-items: center;
        margin-top: 8rem;
    }
    &__title {
        font-family: "DM Serif Text", serif;
        font-size: 4.8rem;
        font-weight: 900;
        margin: 0%;
    }
    &__plans {
        display: flex;
        justify-content: space-around;
        margin: 5rem;
    }
    @mixin plans($bg-img) {
        display: grid;
        justify-items: center;
        padding: 6rem 18rem;
        border: 0.4rem solid rgb(196, 196, 196, 0.3);
        border-radius: 0.5rem;
        background-image: $bg-img;
        background-size: cover; /* Resmin kapsayıcıyı tamamen kaplaması için */
        background-position: center; /* Resmi ortalamak için */
        background-repeat: no-repeat; /* Resmin tekrarlanmaması için */

        h3 {
            font-size: 3.6rem;
            font-family: "DM Serif Text", serif;
            font-weight: 900;
            margin: 0 0 1rem 0;
        }
        p {
            font-size: 4.4rem;
            font-family: "DM Sans", sans-serif;
            font-weight: 400;
            letter-spacing: 0.75rem;
            margin: 1rem;
        }
        button {
            @include pinkButton();
        }
    }
    &__plan1 {
        @include plans(url("/left.svg"));
    }
    &__plan2 {
        @include plans(url("/right.svg"));
    }
    &__planInfo {
        font-family: "DM Sans", sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.05rem;
        text-align: center;
    }
}

.sec3 {
    margin: 10rem 25rem;

    &__header {
        display: grid;
        justify-items: center;
        margin-bottom: 4rem;
    }
    &__title {
        font-family: "DM Serif Text", serif;
        font-size: 4.8rem;
        font-weight: 900;
        margin: 0;
    }
    @mixin text($width, $margin) {
        display: grid;
        align-content: center;
        width: $width;

        h3 {
            font-size: 3.6rem;
            font-family: "DM Serif Text", serif;
            font-weight: 900;
            margin: 0 $margin;
        }
        p {
            font-size: 1.8rem;
            font-family: "DM Sans", sans-serif;
            font-weight: 400;
            letter-spacing: 0.1rem;
            margin-left: $margin;
        }
    }
    &__work1 {
        display: flex;
    }
    &__text1 {
        @include text(43rem, 5rem);
    }
    &__work2 {
        display: grid;
        justify-content: end;
        justify-items: end;
    }
    &__text2 {
        @include text(47rem, 3rem);
    }
    &__work3 {
        display: flex;
    }
    &__text3 {
        @include text(50rem, 1rem);
    }
    &__button {
        display: flex;
        justify-content: center;
        margin: 10rem;

        button {
            @include whiteButton();
        }
    }
}

.sec4 {
    background-color: #f5f8ff;

    &__title {
        font-family: "DM Serif Text", serif;
        font-size: 4.8rem;
        padding-top: 10rem;
        text-align: center;
    }
    &__img-blocks {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        z-index: 1;

        &::before,
        &::after {
            position: absolute;
            z-index: -1;
            background-repeat: no-repeat;
        }

        &::before {
            background-image: url("/squig1.svg");
            bottom: 37.5rem;
            left: 27.5rem;
        }

        &::after {
            background-image: url("/squig2.svg");
            top: 0;
            left: 82.5rem;
        }
    }
    &__img-block {
        display: grid;
        width: 31.2rem;
        height: 43.1rem;
        p {
            font-size: 2.6rem;
            font-family: "DM Sans", sans-serif;
            letter-spacing: 0.1rem;
        }
    }
    &__squig1 {
        position: relative;
        bottom: 37.5rem;
        left: 27.5rem;
    }
    &__squig2 {
        position: relative;
        left: 82.5rem;
    }
    &__button {
        display: grid;
        justify-content: center;
        padding-bottom: 12rem;
        button {
            @include pinkButton();
            margin: 0;
        }
    }
}

.footer {
    display: grid;
    margin: 5rem;
    border: 0.3rem solid rgb(196, 196, 196, 0.3);
    border-radius: 0.5rem;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.1rem;

    a {
        color: black;
        text-decoration: none;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 5rem;
    }
    &__logoGroup {
        display: flex;
        align-items: center;

        h5 {
            font-size: 1.4rem;
            letter-spacing: 0.4rem;
            margin-left: 0.5rem;
        }
    }
    &__logo {
        width: 3.8rem;
        height: 3.8rem;
    }
    &__social {
        display: flex;

        a {
            margin-left: 4rem;

            svg {
                width: 3.6rem;
                height: 3.6rem;
            }
        }
    }
    &__links {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2.5rem;
    }
    &__link {
        display: grid;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        padding-right: 15rem;
        margin-bottom: 1rem;

        h4 {
            font-size: 2rem;
            margin: 1rem 0;
        }
        a {
            line-height: 2.5rem;
        }
    }
    &__end {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4rem;
        border-top: 0.3rem solid rgb(196, 196, 196, 0.3);
        border-radius: 0.5rem;
        padding: 1rem 5rem;

        p,
        a {
            padding-right: 5rem;
            letter-spacing: 0.2rem;
        }
    }
}
